<div class="modal-backdrop" 
     [class.visible]="isVisible" 
     [class.hidden]="!isVisible" 
     (click)="onBackdropClick($event)">
  <div class="modal-container" 
       [class.visible]="isVisible" 
       [class.hidden]="!isVisible"
       [class.animating]="isAnimating">
    
    <div class="modal-content">
      <button class="close-button" (click)="closeModal()">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
      
      <div class="modal-body">
        <app-login *ngIf="currentModal === 'login'" (switchToSignup)="switchToSignup()"></app-login>
        <app-signup *ngIf="currentModal === 'signup'" (switchToLogin)="switchToLogin()"></app-signup>
      </div>
    </div>
    
  </div>
</div>